[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = {extras = ["ext"], version = "*"}
aiogram = "*"
pydantic = "*"
orjson = "*"
croniter = "*"
redis = "*"
tortoise-orm = {extras = ["psycopg"], version = "*"}

[dev-packages]
pytest = "*"
sniffio = "*"
sanic-testing = "*"
pylint = "*"

[requires]
python_version = "3.10"
